Импортировать pandas  и numpy, os и получить текущую директорию

'/Users/andreypovaliy/Documents/Education/ITMO_DS/05_python_for_data_analysis'

Создать серию [10, 20, 30, 40]

0    10
1    20
2    30
3    40
dtype: int64

Создать серию [10, 20, 30, 40] с названиями сторок a,b,c,d

a    10
b    20
c    30
dtype: int64

создать серию из np

0    1
1    2
2    3
3    4
dtype: int64

создать серию с индексами a,b,c,d

a    5
b    5
c    5
dtype: int64

получить значения из серии

array([10, 20, 30, 40])

получить индексы из серии

создать df из массива [1, 2, 3],[4, 5, 6] с названиями колонок ['A', 'B', 'C']

создать df из словоря {'A': [1, 4], 'B': [2, 5], 'C': [3, 6]}

# из словаря Series
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'c']) 
s2 = pd.Series([4, 5, 6], index=['a', 'b', 'c'])

# из списка словарей
{'A': 1, 'B': 2}, {'A': 3, 'B': 4, 'C': 5}

из массива NumPy
np.random.rand(3, 4) с колонками ['A', 'B', 'C', 'D']

Пустой DataFrame с колонками ['A', 'B', 'C']

Прочитать csv из 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
сделать индекс 'PassengerId'

прочитать титаник csv

загрузить xlsx https://hbiostat.org/data/repo/titanic5.xlsx используя openpyxl

# ✅ **HTML-таблицы**

url = "https://en.wikipedia.org/wiki/Titanic"
прочитать таблицы
вывести количество таблиц
вывести первую

# **Экспорт:**

titanic_csv
в csv
exel
json
html

просмотр первых 5 строк titanic_csv

размерность titanic_csv

просмотр информации о датасете titanic_csv

просмотр основных статистик titanic_csv

## **Отбор строк и столбцов**

import kagglehub # импортируем датасет с Kaggle

path = kagglehub.dataset_download("mathchi/diabetes-data-set")
df = pd.read_csv(path + "/diabetes.csv")
df.head()

 отбор  столбца 'Insulin'

отбор столбцов  'Age','BMI'

**Отбор и фильтрация строк**

булева индексация Age == 50

'Pregnancies' == 0 и 'Age'  < 30

Фильтрация по списку значений 'Glucose' == [99, 100]

**Отбор строк по индексам**

Отбор 1,6,99

отбор 1,2,3 строки и столбцы 'Glucose','BloodPressure','Insulin'

**Отбор ячейки**

отбор 1 ячейки

отбор 1 ячейки по 'Glucose'

Доступ к одному значению 1 ячейки для пары строк/столбцов по целочисленной позиции

**Отбор столбцов по типам данных**

Отобрать только объекты (titanic_csv)

Исключить только объекты (titanic_csv)