In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import os
wd = os.getcwd()
wd
os.chdir('/Users/andreypovaliy/Documents/Education/ITMO_DS/05_python_for_data_analysis/')

–≤—ã–≤–µ—Å—Ç–∏ 5 –ø–µ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π

In [52]:
df = pd.read_csv('./lect/data/netflix_titles_augmented.csv')

–≤—ã–≤–µ—Å—Ç–∏ –æ–ø–∏—Å–∞–Ω–∏–µ —Ç–æ–±–ª–∏—Ü—ã

–≤—ã–≤–µ—Å—Ç–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ—Ç —Ç–∞–±–ª–∏—Ü–µ

–ù–∞–π—Ç–∏ –ø–æ–ª–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã (–≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã —Å–æ–≤–ø–∞–¥–∞—é—Ç) var full_duplicates

–ù–∞–π—Ç–∏ —á–∞—Å—Ç–∏—á–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã (–æ–¥–∏–Ω–∞–∫–æ–≤—ã–π title, –Ω–æ —Ä–∞–∑–Ω—ã–µ show_id) var partial_duplicates

–£–±—Ä–æ—Ç—å –ø–æ–ª–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã, –∫—Ä–æ–º–µ 1

–£–±—Ä–æ—Ç—å —á–∞—Å—Ç–∏—á–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã –ø–æ "title", –∫—Ä–æ–º–µ 1

## –†–µ–∞–ª—å–Ω—ã–µ –ø—Ä–∏–º–µ—Ä—ã

üìå 1. Titanic üö¢

–û–ø–∏—Å–∞–Ω–∏–µ:
–≠—Ç–æ—Ç –¥–∞—Ç–∞—Å–µ—Ç —Å–æ–¥–µ—Ä–∂–∏—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –ø–∞—Å—Å–∞–∂–∏—Ä–∞—Ö ¬´–¢–∏—Ç–∞–Ω–∏–∫–∞¬ª –∏ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –∑–∞–¥–∞—á –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ –≤—ã–∂–∏–≤—à–∏—Ö.

In [20]:
titanic= pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv') #
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

–≤—ã–≤–µ—Å—Ç–∏ –∏—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –¥–∞—Ç–∞—Å–µ—Ç–µ

–ø–æ—Å—á–∏—Ç–∞—Ç—å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Ç–∞–±–ª–∏—Ü–µ

–æ–ø–∏—Å–∞—Ç–µ–ª—å–Ω–∞—è —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ titanic

–ö–∞–∫–∏–µ –ø—Ä–æ–ø—É—Å–∫–∏?

	‚Ä¢	Age (–≤–æ–∑—Ä–∞—Å—Ç) ‚Äî –º–Ω–æ–≥–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ (–æ–∫–æ–ª–æ 20% –¥–∞–Ω–Ω—ã—Ö).
	‚Ä¢	Cabin (–Ω–æ–º–µ—Ä –∫–∞—é—Ç—ã) ‚Äî –±–æ–ª–µ–µ 70% –ø—Ä–æ–ø—É—Å–∫–æ–≤.
	‚Ä¢	Embarked (–ø–æ—Ä—Ç –ø–æ—Å–∞–¥–∫–∏) ‚Äî –Ω–µ—Å–∫–æ–ª—å–∫–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤.

–ß—Ç–æ –¥–µ–ª–∞—Ç—å?

	‚Ä¢	Age –º–æ–∂–Ω–æ –∑–∞–ø–æ–ª–Ω–∏—Ç—å –º–µ–¥–∏–∞–Ω–æ–π –∏–ª–∏ –ø—Ä–µ–¥—Å–∫–∞–∑–∞—Ç—å.
	‚Ä¢	Cabin –ª—É—á—à–µ —É–¥–∞–ª–∏—Ç—å (—Å–ª–∏—à–∫–æ–º –º–Ω–æ–≥–æ NaN).
	‚Ä¢	Embarked –º–æ–∂–Ω–æ –∑–∞–º–µ–Ω–∏—Ç—å –Ω–∞ –Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ.

üìå –ó–∞–ø–æ–ª–Ω—è–µ–º ‚ÄúAge‚Äù –º–µ–¥–∏–∞–Ω–æ–π (—á–∏—Å–ª–æ–≤–æ–π –ø—Ä–∏–∑–Ω–∞–∫)

–í–æ–∑—Ä–∞—Å—Ç (Age) –≤–∞–∂–µ–Ω, –Ω–æ –ø—Ä–æ–ø—É—â–µ–Ω —É ~20% –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤. –ó–∞–ø–æ–ª–Ω—è–µ–º –º–µ–¥–∏–∞–Ω–æ–π.

üìå –£–¥–∞–ª—è–µ–º –Ω–µ–Ω—É–∂–Ω—ã–µ –∫–æ–ª–æ–Ω–∫–∏ —Å –±–æ–ª—å—à–∏–º —á–∏—Å–ª–æ–º –ø—Ä–æ–ø—É—Å–∫–æ–≤

–ï—Å–ª–∏ Cabin —Å–æ–¥–µ—Ä–∂–∏—Ç —Å–ª–∏—à–∫–æ–º –º–Ω–æ–≥–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤, –∏–Ω–æ–≥–¥–∞ –ª—É—á—à–µ —É–¥–∞–ª–∏—Ç—å –∫–æ–ª–æ–Ω–∫—É:

üìå –ó–∞–ø–æ–ª–Ω—è–µ–º ‚ÄúEmbarked‚Äù –º–æ–¥–æ–π (–∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫)

–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –ø–∞—Å—Å–∞–∂–∏—Ä—ã –Ω–µ –∏–º–µ—é—Ç –¥–∞–Ω–Ω—ã—Ö –æ –ø–æ—Ä—Ç–µ –ø–æ—Å–∞–¥–∫–∏ (Embarked). –ó–∞–ø–æ–ª–Ω—è–µ–º –Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º.

–ø–æ—Å—á–∏—Ç–∞—Ç—å –ø–æ—Ä—Ç—ã titanic['Embarked'] –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ

–ø–æ—Å—á–∏—Ç–∞—Ç—å —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ—Ä—Ç–æ–≤ titanic['Embarked']

–∑–∞–º–µ–Ω–∏—Ç—å titanic["Embarked"] –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —á–µ—Ä–µ–∑ –º–æ–¥—É

–ø–æ—Å—á–∏—Ç–∞—Ç—å —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ—Ä—Ç–æ–≤ titanic['Embarked']

array(['S', 'C', 'Q'], dtype=object)

## –ò—Å–ø—Ä–∞–≤–ª–µ–Ω–∏–µ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö –∏ –æ—à–∏–±–æ–∫ –≤ –¥–∞–Ω–Ω—ã—Ö

In [53]:
crime = pd.read_csv('./lect/data/crime.csv')
crime.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

**–ê–ª–≥–æ—Ä–∏—Ç–º –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ —Å –¥–∞—Ç–æ–π –∏ –≤—Ä–µ–º–µ–Ω–µ–º**
—É–¥–∞–ª–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫ —Å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –≤ —Å—Ç–æ–ª–±—Ü–µ 'TIME OCC'
–∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏–µ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö

In [ ]:
# —É–¥–∞–ª–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫ —Å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –≤ —Å—Ç–æ–ª–±—Ü–µ 'TIME OCC'

In [ ]:
# –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏–µ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö

In [56]:
# –≤–µ–≤–µ—Å—Ç–∏ 5 –∑–Ω–∞—á–µ–Ω–∏–π

In [55]:
# –∑–∞–º–µ–Ω–∞ –≤—Ä–µ–º–µ–Ω–∏ –ø–æ —Å—Ö–µ–º–µ HH:MM:SS

In [ ]:
 # –∫–æ–Ω–≤–µ—Ä—Ç–∞—Ü–∏—è –≤ datetime

In [ ]:
 # –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –∫–æ–ª–æ–Ω–æ–∫ –≤—Ä–µ–º–µ–Ω–∏ –∏ –¥–∞—Ç—ã

**–ß–∏—Å—Ç–∫–∞ –ª–∏—à–Ω–∏—Ö –ø—Ä–æ–±–µ–ª–æ–≤ –≤ –∫–æ–ª–æ–Ω–∫–µ Location**

In [54]:
# –∏—Å–ø–æ–ª—å–∑—É–µ–º —Ä–µ–≥—É–ª—è—Ä–Ω—ã–µ –≤—ã—Ä–∞–∂–µ–Ω–∏—è + –º–æ–¥—É–ª—å re

In [ ]:
# —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –¥–∞—Ç–∞—Å–µ—Ç–∞ –ø–æ 'LOCATION' –∏ –≤–æ—Å—Ö–æ–¥—è—â–µ–º—É