# **Задание №4**

https://disk.yandex.ru/d/z1veDWdBFFyTDA

Даны файлы (10 датасетов) с информацией о студентах вида:

```формат
Students_info_0.csv
```

а также файлы (10 датасетов) с информацикй об их успеваемости вида:

```
Students_marks_0.csv
```

Необходимо написать скрипт, который будет **автоматически** загружать файлы и осуществлять их объединение в единый `DataFrame`. В тоговом датафрейме не должно быть дублирующихся колонок. По окончанию работы скрипта файл с объединенным датасетом должен быть сохранен в формате `csv` без внутренней индексации `pandas`.

Модуль **`os`** поможет решить данную задача https://docs.python.org/3/library/os.html

In [ ]:
import os
import glob
import pandas as pd
os.chdir('/Users/andreypovaliy/Documents/Education/ITMO_DS/05_python_for_data_analysis/tasks/')

In [18]:
files = os.listdir('./students')
files

['Students_marks_1.csv',
 'Students_info_1.csv',
 'Students_info_0.csv',
 'Students_marks_0.csv',
 'Students_marks_2.csv',
 'Students_info_2.csv',
 'Students_info_3.csv',
 'Students_marks_3.csv',
 'Students_marks_7.csv',
 'Students_info_7.csv',
 'Students_info_6.csv',
 'Students_marks_6.csv',
 'Students_marks_4.csv',
 'Students_info_4.csv',
 'Students_info_5.csv',
 'Students_marks_5.csv',
 'Students_marks_8.csv',
 'Students_info_8.csv',
 'Students_info_9.csv',
 'Students_marks_9.csv']

In [ ]:

files_info = glob.glob("./students/Students_info_*.csv")

dfs = []
for filename in files_info:
    dfs.append(pd.read_csv(filename))


df_info = pd.concat(dfs, ignore_index=True)
df_info

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group
0,100,male,group B,some college,standard,none,group2
1,101,male,group D,bachelor's degree,standard,completed,group2
2,102,female,group D,associate's degree,standard,none,group2
3,103,male,group B,high school,standard,completed,group2
4,104,male,group C,some college,standard,completed,group2
...,...,...,...,...,...,...,...
995,995,female,group E,master's degree,standard,completed,group10
996,996,male,group C,high school,free/reduced,none,group10
997,997,female,group C,high school,free/reduced,completed,group10
998,998,female,group D,some college,standard,completed,group10
999,999,female,group D,some college,free/reduced,none,group10

In [19]:
files_marks = glob.glob("./students/Students_marks_*.csv")
dfs = []
for filename in files_marks:
    dfs.append(pd.read_csv(filename))


df_marks = pd.concat(dfs, ignore_index=True)
df_marks

     index  math score  reading score  writing score  foreign language
0      100          79             67             67               NaN
1      101          68             74             74               NaN
2      102          85             91             89               NaN
3      103          60             44             47               NaN
4      104          98             86             90               NaN
..     ...         ...            ...            ...               ...
995    995          88             99             95              43.0
996    996          62             55             55              82.0
997    997          59             71             65              84.0
998    998          68             78             77              80.0
999    999          77             86             86              43.0

[1000 rows x 5 columns]

In [21]:
df= pd.merge(df_info, df_marks, how="left", on="index")
df

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,foreign language
0,100,male,group B,some college,standard,none,group2,79,67,67,NaN
1,101,male,group D,bachelor's degree,standard,completed,group2,68,74,74,NaN
2,102,female,group D,associate's degree,standard,none,group2,85,91,89,NaN
3,103,male,group B,high school,standard,completed,group2,60,44,47,NaN
4,104,male,group C,some college,standard,completed,group2,98,86,90,NaN
...,...,...,...,...,...,...,...,...,...,...,...
995,995,female,group E,master's degree,standard,completed,group10,88,99,95,43.0
996,996,male,group C,high school,free/reduced,none,group10,62,55,55,82.0
997,997,female,group C,high school,free/reduced,completed,group10,59,71,65,84.0
998,998,female,group D,some college,standard,completed,group10,68,78,77,80.0
999,999,female,group D,some college,free/reduced,none,group10,77,86,86,43.0

In [23]:
df.to_csv('output.csv', index=False)