## Лабораторная работа №1 -> выполнено на R

In [5]:
generate_sales_data <- function(num_entries=10, seed=42){
    set.seed(seed)
    item_ids <-  sample(100:109, num_entries, replace=T)  # ID товаров (100-109)
    quantities <-  sample(1:9, num_entries, replace=T)   # Количество проданных единиц (1-9)
    prices <-  runif(num_entries, 50.0, 500.0)    # Цена за единицу (50.0 - 500.0)
    df <- data.frame(item_ids,quantities,prices)
    return(df)

}

In [ ]:
Вы работаете с данными о продажах интернет-магазина. Ваша задача — обработать и проанализировать массив данных с использованием только библиотеки numpy.

Исходные данные:

Данные представлены в виде 2D-массива numpy, где:

•	Столбец 0 — ID товара
•	Столбец 1 — Количество проданных единиц
•	Столбец 2 — Цена за единицу

In [7]:
variant <- 1
samples <- 10
data <- generate_sales_data(num_entries=samples, seed=variant)

   item_ids quantities prices
1  108      5          203.15705
2  103      6          266.93605
3  106      7          319.80462
4  100      9          272.09359
5  101      5          133.79792
6  106      5          422.31799
7  101      9          350.81003
8  102      9          407.40794
9  100      5           98.57463
10 104      5          375.66993